.button-class {
  /* overwrites browser defaults and resets the border */
  border: none;

  /* takes the font from the outer container */
  display: inline-block;

  /* takes the font from the outer container */
  font-family: inherit;

  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #e29578ff;
  color: white;
  text-decoration: none;

  /* adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;

  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

body, input {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: left;
  background-color: #F5F9F9;
